.mainPage {
	.social {
		.iconsList {
			flex-flow: row wrap;
			.icons {
				flex: 1 64px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.icon {
					padding: 10px 0;
				}
			}
		}

		.email {
			display: flex;
			justify-content: center;
			align-self: center;

			.selector {
				width: 350px;
				height: 40px;
			}

			.copyButton {
				height: 40px;
			}
		}
	}

	@media (max-width: 800px) {
		.social {
			.iconsList {
				flex-direction: column;
				text-align: center;
			}
		}
	}
}
