.description {
	position: relative;
	cursor: pointer;
}

.description:before,
.description:after {
	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 15px;
	transition: opacity 0.7s, margin-bottom 0.7s;
}

.description:before {
	bottom: 50px;
	padding: 10px;
	width: 100%;
	color: white;
	background-color: #000000;
	content: attr(data-title);
	border-radius: 5px;
	box-shadow: border-box;
	text-align: center;
}

.description:hover:before {
	visibility: visible;
	opacity: 1;
}
